{% extends 'base.html' %}

{% block title %}Maintenance (503){% endblock %}

{% block content %}
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-5">
                    <div class="form-input-content text-center error-page">
                        <h1 class="error-text fw-bold">503</h1>
                        <h4><i class="fa fa-times-circle text-danger"></i> Servizio non disponibile</h4>
                        <p>In Manutenzione!</p>
						<div>
                            <a class="btn btn-primary" href="{% url 'home' %}">Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<p>{% if exception %}{{ exception }}{% else %}under maintenance!.{% endif %}</p>
{% endblock content %}
