{% extends 'base.html' %}
{% load static i18n %}
{% load widget_tweaks %}
{% block content %}

<section class="about-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 authincation-content">
        <div class="about-inner auth-form">
          <h2 class="text-center mb-4">Form Auto</h2>
          <!-- COMMENT FORM -->
          <form class="comment-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              <div class="form-group col-md-6 mb-3">
                {{form.tipo.label_tag}}
                {{form.tipo|add_class:"form-control"|attr:"id=tipo"}}
                {% if form.tipo.help_text %}
                <small class="form-text text-muted">{{ form.tipo.help_text }}</small>
                {% endif %}
                <div class="invalid-feedback">
                  {{form.tipo.errors}}
                </div>
              </div>

              <div class="form-group col-md-6 mb-3">
                {{form.stato.label_tag}}
                {{form.stato|add_class:"form-control"|attr:"id=stato"}}
                {% if form.stato.help_text %}
                <small class="form-text text-muted">{{ form.stato.help_text }}</small>
                {% endif %}
                <div class="invalid-feedback">
                  {{form.stato.errors}}
                </div>
              </div>

              </div>
              <div class="row">
              <div class="form-group col-md-6 mb-3">
                {{form.marca.label_tag}}
                {{form.marca|add_class:"form-control"|attr:"id=marca"}}
                {% if form.marca.help_text %}
                <small class="form-text text-muted">{{ form.marca.help_text }}</small>
                {% endif %}
                <div class="invalid-feedback">
                  {{form.marca.errors}}
                </div>
              </div>

              <div class="form-group col-md-6 mb-3">
                {{form.car_model.label_tag}}
                {{form.car_model|add_class:"form-control"|attr:"id=car_model"}}
                {% if form.car_model.help_text %}
                <small class="form-text text-muted">{{ form.car_model.help_text }}</small>
                {% endif %}
                <div class="invalid-feedback">
                  {{form.car_model.errors}}
                </div>
            </div>
              </div>
            <div class="row">
              <div class="form-group col-md-4 mb-3">
                {{form.targa.label_tag}}
                {{form.targa|add_class:"form-control"|attr:"id=targa"}}
                {% if form.targa.help_text %}
                <small class="form-text text-muted">{{ form.targa.help_text }}</small>
                {% endif %}
                <div class="invalid-feedback">
                  {{form.targa.errors}}
                </div>
              </div>

              <div class="form-group col-md-4 mb-3">
                {{form.data_immatricolazione.label_tag}}
                {{form.data_immatricolazione|add_class:"form-control"|attr:"id=data_immatricolazione"}}
                {% if form.data_immatricolazione.help_text %}
                <small class="form-text text-muted">{{ form.data_immatricolazione.help_text }}</small>
                {% endif %}
                <div class="invalid-feedback">
                  {{form.data_immatricolazione.errors}}
                </div>
            </div>
            <div class="form-group col-md-4 mb-3">
                {{form.carburante.label_tag}}
                {{form.carburante|add_class:"form-control"|attr:"id=carburante"}}
                {% if form.carburante.help_text %}
                <small class="form-text text-muted">{{ form.carburante.help_text }}</small>
                {% endif %}
                <div class="invalid-feedback">
                  {{form.carburante.errors}}
                </div>
            </div>
              </div>
              <div class="form-group col-md-12 mb-3">
                {{form.note.label_tag}}
                {{form.note|add_class:"form-control"|attr:"id=note"|attr:"rows:3"}}
                {% if form.note.help_text %}
                <small class="form-text text-muted">{{ form.note.help_text }}</small>
                {% endif %}
                <div class="invalid-feedback">
                  {{form.note.errors}}
                </div>
              </div>
            <div class="row">
              <div class="form-group col-md-12 mb-3">
                {{form.image_main.label_tag}}
                {{form.image_main|add_class:"form-file-input form-control"|attr:"id=image_main"}}
                {% if form.image_main.help_text %}
                <small class="form-text text-muted">{{ form.image_main.help_text }}</small>
                {% endif %}
                <div class="invalid-feedback">
                  {{form.image_main.errors}}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-12 mb-3">
                {{form.file.label_tag}}
                {{form.file|add_class:"form-file-input form-control"|attr:"id=file"}}
                {% if form.file.help_text %}
                <small class="form-text text-muted">{{ form.file.help_text }}</small>
                {% endif %}
                <div class="invalid-feedback">
                  {{form.file.errors}}
                </div>
              </div>
            </div>
            <div class="text-start mt-3">
              <input class="btn btn-primary" type="submit" value="Invia">
              <input class="btn btn-light sw-btn-next" type="button" value="Annulla">
            </div>

          </form>
          <!-- ./COMMENT FORM -->
        </div>
      </div>
    </div>
  </div>

</section>
{% endblock %}
