{% extends 'base.html' %}
{% load static i18n %}
{% block content %}
<div class="card">
  <div class="card-header">
    <h4 class="card-title">Lista Auto</h4>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-responsive-md">
        <thead>
          <tr>
            <th><strong>Auto</strong></th>
            <th><strong>Stato</strong></th>
            <th><strong>Targa</strong></th>
            <th><strong>Imm.</strong></th>
            <th><strong>Doc.</strong></th>
            <th class="text-center"><strong>Stato Doc.</strong></th>
            <th><strong></strong></th>
          </tr>
        </thead>
        <tbody>
          {% for auto in auto_list %}
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <img
                  src="{% if auto.image_thumb %}{{auto.image_thumb.url}} {% else %}{% static 'images/car_placeholder.png' %}{% endif %}"
                  class="rounded-lg me-2" alt="" width="50">
                <span class="w-space-no">{{auto.car_model}}</span></div>
            </td>
            <td>{{auto.get_stato_display}} </td>
            <td>{{auto.targa}} </td>
            <td>{{auto.reg_date_gma}}</td>
            <td>
              <div class="navbar-nav header-right">
                {% if auto.documenti_scaduti %}
                <div class="nav-item dropdown notification_dropdown">
                  <a class="nav-link  ai-icon" href="javascript:void(0);" role="button" data-bs-toggle="dropdown">
                    <svg width="28" height="28" viewBox="0 0 576 512" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM112 256H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16z"
                        fill="#ff9900"></path>
                    </svg>
                    <span class="badge light text-white bg-warning rounded-circle">{{auto.documenti_scaduti.count}}</span>
                  </a>

                  <div class="dropdown-menu dropdown-menu-end">
                    <div id="dlab_W_Notification1" class="widget-media dlab-scroll p-3">

                      <ul class="timeline">
                        {% for documento in auto.documenti_scaduti %}

                        <li>
                          <div class="timeline-panel">
                            <div class="media me-2 media-danger">
                                <i style="font-size: 30px;" class="fas fa-exclamation-circle"></i>
                            </div>
                            <div class="media-body">
                              <h6 class="mb-1">{{documento.nome}}</h6>
                              <small class="d-block">{{documento.data_scadenza}}</small>
                            </div>
                          </div>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
            </td>
            <td class="text-center">
              {% if auto.documenti_regolari %}
              <div class=""><i class="fa fa-circle text-success me-1"></i> OK</div>
              {% else %}
              <div class=""><i class="fa fa-circle text-danger me-1"></i> KO</div>
              {% endif %}
            </td>
            <td>

              <button type="button" class="btn btn-success light sharp" data-bs-toggle="dropdown" aria-expanded="false">
                <svg width="20px" height="20px" viewBox="0 0 24 24" version="1.1">
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect x="0" y="0" width="24" height="24"></rect>
                    <circle fill="#000000" cx="5" cy="12" r="2"></circle>
                    <circle fill="#000000" cx="12" cy="12" r="2"></circle>
                    <circle fill="#000000" cx="19" cy="12" r="2"></circle>
                  </g>
                </svg>
              </button>
              <div class="dropdown-menu" style="">


                <a href="{% url 'auto:auto' auto.targa %}">
                  <li class="dropdown-item"><i class="fa fa-car text-primary me-2"></i> Vedi Auto</li>
                </a>
                <a href="{% url 'auto:modifica_auto' auto.targa %}">
                  <li class="dropdown-item"><i class="fa fa-wrench text-primary me-2"></i> Modifica Auto</li>
                </a>
                <a href="{% url 'auto:crea_documento_auto' auto.targa %}">
                  <li class="dropdown-item"><i class="fa fa-plus text-primary me-2"></i> Aggiungi Documento</li>
                </a>
                <a href="{% url 'auto:elimina_auto' auto.targa %}">
                  <li class="dropdown-item"><i class="fa fa-trash text-danger me-2"></i> Elimina Auto</li>
                </a>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock  %}