{% extends 'base.html' %}
{% load static i18n %}
{% load widget_tweaks %}
{% block content %}
<section class="about-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 authincation-content">
        <div class="about-inner auth-form">
          <h3 class="text-center mb-4 mt-3">Form Documento</h3>
          <div class="profile-head">
        <div class="profile-info">
          <div class="profile-details">
            <div class="profile-name px-3 pt-2">
              <img
                src="{% if documento.auto.image_main %}{{documento.auto.image_main.url}} {% else %}{% static 'images/car_placeholder.png' %}{% endif %}"
                class="rounded-lg me-2" alt="" width="100">
            </div>
            <div class="profile-name px-3 pt-2">
              <h4 class="text-primary mb-0">{{documento.auto.marca}}</h4>
            </div>
            <div class="profile-name px-3 pt-2">
              <h4 class="text-primary mb-0">{{documento.auto.car_model}}</h4>
            </div>
            <div class="profile-name px-2 pt-2">
              <h4 class="text-muted mb-0">{{documento.auto.targa}}</h4>
            </div>
          </div>
        </div>
      </div>
      <hr>
          <!-- COMMENT FORM -->
          <form class="comment-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              <div class="form-group col-md-6 mb-3">
                {{form.nome.label_tag}}
                {{form.nome|add_class:"form-control"|attr:"id=nome"}}
                {% if form.nome.help_text %}
                <small class="form-text text-muted">{{ form.nome.help_text }}</small>
                {% endif %}
                <div class="invalid-feedback">
                  {{form.nome.errors}}
                </div>
              </div>
              <div class="form-group col-md-6 mb-3">
                {{form.numero.label_tag}}
                {{form.numero|add_class:"form-control"|attr:"id=numero"}}
                 {% if form.numero.help_text %}
                <small class="form-text text-muted">{{ form.numero.help_text }}</small>
                {% endif %}
                <div class="invalid-feedback">
                  {{form.numero.errors}}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-12 mb-3">
                {{form.descrizione.label_tag}}
                {{form.descrizione|add_class:"form-control"|attr:"id=descrizione"}}
                {% if form.descrizione.help_text %}
                <small class="form-text text-muted">{{ form.descrizione.help_text }}</small>
                {% endif %}
                <div class="invalid-feedback">
                  {{form.descrizione.errors}}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6 mb-3">
                {{form.data_documento.label_tag}}
                {{form.data_documento}}
                {% if form.data_documento.help_text %}
                <small class="form-text text-muted">{{ form.data_documento.help_text }}</small>
                {% endif %}
                <div class="invalid-feedback">
                  {{form.data_documento.errors}}
                </div>
              </div>
              <div class="form-group col-md-6 mb-3">
                {{form.data_scadenza.label_tag}}
                {{form.data_scadenza|add_class:"form-file-input form-control"|attr:"id=data_scadenza"}}
                {% if form.data_scadenza.help_text %}
                <small class="form-text text-muted">{{ form.data_scadenza.help_text }}</small>
                {% endif %}
                <div class="invalid-feedback">
                  {{form.data_scadenza.errors}}
                </div>
              </div>
              <div class="form-group col-md-12 mb-3">
                {{form.file.label_tag}}
                {{form.file|add_class:"form-file-input form-control"|attr:"id=file"}}
                {% if form.file.help_text %}
                <small class="form-text text-muted">{{ form.file.help_text }}</small>
                {% endif %}
                <div class="invalid-feedback">
                  {{form.file.errors}}
                </div>
              </div>
            </div>
            <div class="row">
              {% if form.controllo_scadenza.help_text %}
                <small class="form-text text-muted mb-1">{{ form.controllo_scadenza.help_text }}</small>
                {% endif %}
              <div class="form-group col-md-6 mb-3 form-check custom-checkbox checkbox-success">
                
                {{form.controllo_scadenza|add_class:"form-check-input me-2"|attr:"id=controllo_scadenza"}}
                {{form.controllo_scadenza.label_tag}}
                
                <div class="invalid-feedback">
                  {{form.controllo_scadenza.errors}}
                </div>
              </div>
              <div class="form-group col-md-6 mb-3 form-check custom-checkbox checkbox-success">
                {{form.archiviato|add_class:"form-check-input me-2"|attr:"id=archiviato"}}
                {{form.archiviato.label_tag}}
                <div class="invalid-feedback">
                  {{form.archiviato.errors}}
                </div>
              </div>
              {% if form.archiviato.help_text %}
                <small class="form-text text-muted">{{ form.archiviato.help_text }}</small>
                {% endif %}
            </div>
            <div class="text-start mt-3">
              <input class="btn btn-primary" type="submit" value="Invia">
              <input class="btn btn-light sw-btn-next" type="button" value="Annulla">
            </div>
          </form>
          <!-- ./COMMENT FORM -->
        </div>
      </div>
    </div>
  </div>

</section>
{% endblock %}
